@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .trending-slide[data-position="-1"] {
    @apply -translate-x-full z-20
  }
  .trending-slide[data-position="0"] {
    @apply translate-x-0 z-30
  }
  .trending-slide[data-position="1"] {
    @apply translate-x-full z-10
  }
}